body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.barra_nav {
    background-color: #4CAF50;
    padding: 10px 0;
    text-align: center;
}

.barra_nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.tablón {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    margin-top: 20px;
}

h1 {
    color: #4CAF50;
}

.planes {
    border: 2px solid #4CAF50;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
}

.planes h2 {
    color: #4CAF50;
}

.planes p {
    color: #555;
    font-weight: bold;
}

.boton_info {
    background-color: #4CAF50;
    color: #fff;
    border-color: #3e8e41;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
    font-weight: bold;
    transition: background-color 0.3s; 
}

.boton_info:hover {
    background-color: #3e8e41; 
}


img.logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.header {
    display: flex;
    align-items: center;
}

.header_texto {
    text-align: left;
}

.lema {
    font-style: italic;
    color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}

.footer a {
    color: #fff;
    text-decoration: underline;
}

.deshabilitado {
    pointer-events: none;
}

.deshabilitado:hover {
    cursor: not-allowed;
}

.beneficios table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; /* Ajusta según sea necesario */
}

.beneficios table, .beneficios table td {
    border: 1px solid #ddd;
    padding: 8px;
    color: #555;
}

.beneficios table td {
    text-align: left;
}

.beneficios table .tick {
    color: #4CAF50;
}

.beneficios table .cruz {
    color: #FF0000;
}

#info {
    width: 10px;
    height: 10px;
}

#grande {
    font-size: 25px
}