.contenedor-carrusel {
    position: relative;
    width: 90%;
    margin: 50px auto;
    overflow: hidden;
}

.carrusel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slider {
    width: 60%;
    height: 80%;
    display: block;
    margin: 0 auto;
    box-shadow: 10px 10px 50px black;
}

.previo,
.siguiente {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 20px;
    background: transparent;
    border: solid;
    color: white;
    border-color: #333;
    cursor: pointer;
    border-radius: 20%;
    background-color: #333;
}

.previo {
    left: 240px;
}

.siguiente {
    right: 240px;
}

.contenedor1 {
    width: 75%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(255, 255, 255, 0.839);
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

.contenedor1 div {
    color: rgb(31, 31, 31);
    margin: 0 auto;
    font-size: 25px;
    border: solid 2px gray;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    padding: 15px;
}

@media (width > 300px) {
    .contenedor1 {
        grid-template-columns: 1fr 1fr;
    }
}

@media (width > 800px) {
    .contenedor1 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.contenedor1 div:hover {
    transform:perspective();
    color: rgb(31, 31, 31);
    border: solid 3px rgb(0, 0, 0);
    background-color: rgb(235, 252, 236);
    
}

.contenedor1 img {
    text-align: center;
    width: 90px;
}

.desc {
    text-align: center;
    color: white;
    font-size: 25px;
}

.contenedor2 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: bold;
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: -90px;
}

.separador {
    margin-top: 50px;
    padding: 10px 10px 10px 10px;
    width: 97%;
    height: 300px;
    border-style: solid;
    border-color: #4CAF50;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.separador:hover {
    background-color: #b9efbb;
}

.img_par {
    width: 40%;
    height: 100%;
    float: left;
    margin: 0 0 10px 0px;
    border-radius: 10px;
}

.img_impar {
    width: 40%;
    height: 100%;
    float: right;
    margin: 0 0 10px 10px;
    border-radius: 10px;
}

.texto_par {
    color: #4CAF50;
    float: right;
    max-width: 65%;
    margin: 20px 20px 10px 10px;
}

.texto_impar {
    color: #4CAF50;
    float: left;
    max-width: 65%;
    margin: 20px 100px 10px 30px;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #4CAF50;
    color: #4CAF50;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    border-radius: 25px;
    text-decoration: none;
}

.boton:hover {
    background-color: #4CAF50;
    color: white;
    border-color: white;
}

.boton_par {
    float: right;
    clear: both;
    display: block;
    margin-top: -100px;
    margin-right: 50px;
}

.boton_impar {
    float: left;
    clear: both;
    display: block;
    margin-top: -100px;
    margin-left: 50px;
}

.opiniones {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 40px;
    margin-bottom: 100px;
}

.cont_op {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding-top: 40px;
}

.opinion {
    text-align: left;
    max-width: 300px;
    border: 1px solid #ababab;
    border-radius: 8px;
    background-color: #fff;
    padding: 10px;
}

.opinion img {
    width: 15%;
    border-radius: 50%;
    margin-bottom: 10px;
}

.titulo_op {
    margin-top: -40px;
}

#mostrarMas {
    width: 100px;
    margin: 0 auto;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.533);
    border-color: #a8a8a8;
    font-weight: bold;
}

#mostrarMas:hover {
    background-color: #343434;
    color: #f8f8f8;
}

#mostrarMenos {
    width: 100px;
    margin: 0 auto;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.533);
    border-color: #a8a8a8;
    font-weight: bold;
}

#mostrarMenos:hover {
    background-color: #343434;
    color: #f8f8f8;
}

aside {
    width: 190px;
    position: fixed;
    top: 0;
    right: 0;
    height: 200px;
    background-color: #f4f4f4;
    padding: 9px;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #555;
    text-align: center;
}

aside h2 {
    color: #4CAF50;
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}

aside a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #4CAF50;
    color: #4CAF50;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    border-radius: 25px;
    margin: 5px;
}

aside a:hover {
    background-color: #4CAF50;
    color: white;
    border-color: white;
}

html {
    scroll-behavior: smooth;
}

#publicidad {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 450px;
    background-color: #f4f4f4;
    padding: 9px;
    border: 2px solid #4CAF50;
    color: #555;
}

#imgpubli {
    width: 250px;
    height: 400px;
}

#divpubli {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#cerrarPublicidad {
    background-color: #4CAF50;
    color: #fff;
    border: 2px solid #4CAF50;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: 15px;
}
