.formulario_contacto {
    background-color: #fff;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
    border: 2px solid #4CAF50;;
}


.formulario_contacto h2 { 
    margin-bottom: 15px;
}

.formulario_contacto label {
    display: block;
    color: #555;
    margin-bottom: 5px;
}

.formulario_contacto select,
.formulario_contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Arial', sans-serif;
}


.formulario_contacto input{
    justify-content: center;
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Arial', sans-serif;

}


.formulario_contacto fieldset {
    border: 2px solid #4CAF50;
    margin: 10px 0;
    display: contents;
}

.formulario_contacto legend {
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
}



.formulario_contacto button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.formulario_contacto button:hover {
    background-color: #3e8e41;
}


.resultado-cuota {
    margin-top: 20px;
    padding: 10px;
    background-color: #e7f4e4; 
    border-radius: 5px;
    color: #555;
    text-align: center;
}

#Preferencias {
    justify-content: center; 
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
}
#Preferencias label {
    display: flex;
}

.gracias {
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
}

#comentarios {
    width: 95%;


}